HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw.cmd
/mvnw
/HELP.md
/datax-agent.iml
/target/
/.idea/
/.mvn/
/datax-split/datax-spilt-base/datax-spilt-base.iml
/datax-split/datax-spilt-base/datax-spilt-base.iml
/datax-split/datax-split-hbase11reader/datax-split-hbase11reader.iml
/datax-split/datax-spilt-base/datax-spilt-base.iml
/datax-split/datax-spilt-base/datax-spilt-base.iml
/datax-split/datax-split-hbase11reader/datax-split-hbase11reader.iml
/datax-split/datax-split-oraclereader/datax-split-oraclereader.iml
/logs/
