<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" monitorInterval = "30">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern = "jobId [%X{DATAX-JOBID}] - taskId=[%X{DATAX-TASKID}] - traceId = [%X{SOFA-TraceId}]-%d{HH:mm:ss.SSS} {%t} %-5level %logger{36} - %msg%n" />
    </Console>
    <Kafka name="KafkaLog" topic="datax-log" ignoreExceptions="false">
        <PatternLayout pattern="%X{DATAX-JOBID}-%X{DATAX-TASKID}-%X{SOFA-TraceId}  {'jobId':'%X{DATAX-JOBID}','taskId':'%X{DATAX-TASKID}','traceId';'%X{SOFA-TraceId}','logTime':'%d{HH:mm:ss.SSS}','threadName':'%t','logLevel':'%-5level','logClass':'%logger{36}','msg':'%msg%n'}"/>
        <Property name="bootstrap.servers">192.168.8.2:9092</Property>
        <Property name="max.block.ms">2000</Property>
    </Kafka>
</Appenders>
    <Loggers>
        <AsyncRoot level = "info" >
            <AppenderRef ref="Console"/>
        </AsyncRoot>
        <AsyncLogger name="com.alibaba.datax" level="INFO">
            <AppenderRef ref="KafkaLog"/>
        </AsyncLogger>
        <!-- 临时，用于功能测试 -->
        <AsyncLogger name="org.springframework.aop.interceptor" level="INFO">
            <AppenderRef ref="KafkaLog"/>
        </AsyncLogger>
    </Loggers>
    </Configuration>